<br >
<div class="jumbotron">
	<h1>Blocipedia: Social, Markdown Wikis</h1>
	<div class="row">
		<% if user_signed_in? %>
			<div class="col-md-2">
			</div>
			<div id="welcome-after-sign-up" class="col-md-8 text-center">
				<h2>Welcome to Blocipedia, <%= current_user.user_name %></h2>
			</div>
			<div class="col-md-2">
			</div>
		<% else %>
			<div class="col-md-2">
			</div>
			<div id="promote-sign-up" class="col-md-8 text-center">
				<h2>Create and share markdown wikis</h2>
				<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary', role: 'button' %>
			</div>
			<div class="col-md-2">
			</div>
		<% end %>
	</div>
	<div class="row">
		<div class="box">
			<div class="col-md-6 text-center">
				<p id="free"></p>
				<h2>Free Plan</h2>
				<p><small>Create as many wikis as you want!</small></p>
				<p><small>Read other users public wikis</small></p>
			</div>
			<div class="col-md-6 text-center">
				<p id="premium"></p>
				<h2>Premium Plan</h2>
				<p><small>Free plan features</p>
				<p><small>Create <strong>private</strong> wikis</small></p>
			</div>
		</div>
	</div>
</div>
