<p>Welcome to <a href="https://floating-ocean-14149.herokuapp.com/">Blocipedia</a>.</p>

<p>Hello <%= @resource.user_name %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
