<% if user_signed_in? %>
  <div class="col-md-4">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
    <br /><br />
    <% if current_user.free? %>
      <%= link_to "Upgrade to Premium Plan", new_charge_path, class: 'btn btn-primary' %>
    <% else %>
      <% if policy(current_user).is_premium? %>
        <%= link_to "Downgrade to Free Plan", subscription_path(current_user.subscriptions.last.id), class: 'btn btn-danger', method: :delete, data: { Confirm: 'Are you sure you want to downgrade to Free Plan?'} %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="col-md-4 not-signed-in">
    <p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> If you want to create new wikis or read them entirely.</p>
  </div>
<% end %>
